footer#footer
    link(rel="stylesheet", href="/stylesheets/stylefooter.css")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    body
        div.footer 
            div.footer-content
                h3 FlyBetter inc. 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores aperiam nihil obcaecati temporibus rem delectus illum veniam inventore fugiat, nobis hic modi. Veritatis ullam repellendus nesciunt omnis repellat eligendi et.
                ul(class="socials")
                    li #[a(href="#" class="fa fa-facebook")]
                    li #[a(href="#" class="fa fa-twitter")]
                    li #[a(href="#" class="fa fa-google-plus")]
                    li #[a(href="#" class="fa fa-youtube")]
                    li #[a(href="#" class="fa fa-instagram")]
            div.footer-bottom
                p Copyright &copy; 2022 FlyBetter Inc. designed by <span>Rubila</span>
    block footer