// Index PUG
doctype html 
html 
  head 
    meta(charset="utf-8")
    title FlyBetter | Voe melhor!
    style 
    link(rel="stylesheet", href="/stylesheets/style.css")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  body 
    // - navbar
    nav#navbar 
        .logo 
            img(src="/images/favicon.jpg", alt="logo")
        ul.navlist 
            li #[a(href="./") Home]
            li #[a(href="./about") About]
            li #[a(href="#") Login]
            li #[a(href="#") Cadastro]
            li #[a(href="#") Perfil]
        