// Index PUG
doctype html 
html 
  head 
    meta(charset="utf-8")
    title FlyBetter | Voe melhor!
    style 
    link(rel="stylesheet", href="/stylesheets/style.css")
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  body 
    // - navbar
    nav#navbar 
        .logo
          <a href="./"> 
            img(src="/images/fly.png", alt="logo")
          </a>
        ul.navlist 
            li #[a(href="./") Início]
            li #[a(href="./about") Sobre]
            li #[a(href="./login") Login]
            li #[a(href="./signup") Cadastro]
  block content   