html 
  title #{title}
  include includes/header.pug
  body
    main
      .about  
        .photo  
          img(src="/images/turista.jpg", class="foto2") 
        .text 
          h1 Quem somos!
          p Somos uma empresa ascendente que busca oferecer aos seus clientes a melhor experiência turística possível, tanto em preços quanto em conforto e qualidade. Para mais informações contate-nos
  include includes/footer.pug       
