html
  title #{title}
  include includes/header.pug
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  block content    
  body
    div.center
      h1 Login 
      <form>
        div.txt_field
          input(type="text")
          <span></span>
          <label> Username </label>
        div.txt_field
          input(type="password")
          <span></span>
          <label> Password </label>
        div.pass 
          p Forgot Password?
          input(type="submit", value="Login")
        .signup 
          p Not a member? <a href="./signup">Signup</a>
    </form>
  include includes/footer.pug
  block footer 