html 
  title #{title}  
  include includes/header.pug
  body
    main
      div.center
        h1 Cadastro 
        form(method="post")
          div.txt_field
            input(type="text", name="username")
            <span></span>
            <label> Nome de usuário </label>
          div.txt_field
            input(type="email", name="email")
            <span></span>
            <label> E-mail </label>
          div.txt_field
            input(type="password", name="password")
            <span></span>
            <label> Senha </label>
          div.txt_field
            input(type="password", name="confirmPassword")
            <span></span>
            <label> Confirmar senha </label>
          div.pass 
            input(type="submit", value="Cadastre-se")
    </form>
  include includes/footer.pug
  block footer 