*,
*:before,
*:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: rgb(255, 255, 255);
}

#navbar {
  display: flex;
  height: 10vh;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  justify-content: space-between;
}
.navlist {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 70%;
}
.navlist li {
  list-style: none;
  padding: 6 15px;
  font-size: 1.0rem;
  margin-top: 25px;
}
.navlist li a {
  text-decoration: none;
  color: black;
  border-radius: 20px;
  padding: 15px;
  font-family: 'Poppins',sans-serif;
}
.navlist li a::after {
  content: "";
  display: block;
  background-color: rgb(94, 193, 240);
  height: 3px;
  width: 0%;
  top: 50;
  right: -5;
  transition: 0.3s;
}
.navlist li a:hover::after {
  width: 100%;
}

.logo img {
  width: 40%;
}
img {
  margin: 10px;
}
#intro-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 65vh;
  background: url("/images/rjcristo.jpeg") center center/cover no-repeat;
  color: white;
  font-family: 'Poppins', sans-serif;
  margin: 0.5px;
}
#mission-section {
  font-family:'Poppins', sans-serif;
  font-size: 12px;
  margin: 20px; 
}
.navlista {
  display: flex;
  align-items: left;
  justify-content: left;
  list-style: none;
  padding: 6 15px;
  font-size: 1.0rem;
  box-shadow: rgba(94, 193, 240) 0px 2px 0px;
}
.navlista lis {
  list-style: none;
  padding: 6 15px;
}
.navlista lis p {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}
.navlista lis p::after{
  content: "";
  display: block;
  background-color: rgb(94, 193, 240);
  height: 3px;
  width: 0%;
}
.navlista lis p:hover::after{
  width: 100%;

}

.container {
  display: flex;
}
.card {
  width: 300px;
  height: 500px;
  background-color: white;
  margin: 30px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.foto1 {
  width: 60%;
  height: 40%;
  border-radius: 50%;
  margin-top: 20px;
  margin-left: 60px;
}

.cardbody {
  height: 100px;
  padding: 15px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
.cardlocal {
  font-size: 16px;
  margin: 10px 0;
}
.cardtexto {
  font-size: 12px;
  width: 250px;
  margin: 0 auto;
}
.btn {
  margin-top: 70px;
  text-align: center;
  cursor: pointer;
  padding: 10px 30px;
  font-weight: 500;
  border-radius: 10px;
  border: none;
  transition: 1s;
  background-color: rgb(55, 69, 196);
  color: white;
}
.btn:hover {
  transition: 1s;
  background-color: rgb(4, 0, 255);
}
.about {
  width: 100%;
  padding: 78px 0px;

}
.photo img {
  height: auto;
  width: 520px;
  margin: 10px 0;
}
.text {
  width: 550px;
  font-family: 'Poppins', sans-serif;
}
.about {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.text h1{
  color: #202020;
  font-size: 70px;
  text-transform: capitalize;
  margin-bottom: 10px;
}
text p {
  color: #202020;
  font-size: 25px;
  text-transform: capitalize;
  margin-bottom: 25px;
  letter-spacing: 2px;
  font-family: 'Poppins', sans-serif;
}
/* LOGIN CSS */

.center {
  font-family: 'Poppins', sans-serif;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 400px;
  background: white;
  border-radius: 10px;
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}
.center h1{
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}
.center form{
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #2691d9;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}
.pass{
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}
.pass:hover{
  text-decoration: underline;
}
input[type="submit"]{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
input[type="submit"]:hover{
  border-color: #2691d9;
  transition: .5s;
}
.signup_link{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
.signup_link a{
  color: #2691d9;
  text-decoration: none;
}
.signup_link a:hover{
  text-decoration: underline;
}